[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pyyaml = "*"
numpy = "*"
pandas = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
